//


* {
   box-sizing:border-box;
}
body {
   height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
}

$timetable-bg-color: white;
$room-name-bg-color: white;
$hours-bg-color: white;

$quater-color: rgba(222,222,222,.2);
$quater-color-light: rgba(222,222,222,.9);

$row-height: 400px;

$event-bg-color: powderblue;


.timetable {
   min-width: 40%;
   height: 90vh;
   background-color: $timetable-bg-color;

   &__row {
      display:flex;
      flex-flow: column nowrap;
      height:inherit;
   }

   &__timeline{
      display:flex;
      flex-flow: column nowrap;
      position:relative;
      height: 100%;

      flex-grow: 6;
      background-color: $hours-bg-color;
   }
}

.timeline {

   &__hours {
      display:flex;
      flex-flow: column nowrap;
      position:relative;
      background-color: rgba(255,255,255,.5);
      flex-grow: 1;

      &:before {
         content: '';
         height: 100%;
         position:relative;
         top: -15%;
         border-top: 1px solid navy;
      }

   }
   &__hours-label {
       font-size: 40px;
       color: rgba(0,0,0,.3);
      position:absolute;
      top: 10px ;
      left: 0;
   }

   &__quater {
      flex-grow:1;
      //  border-right: 1px solid navy;
      background-color: $quater-color;
   }

   &__quater:nth-of-type(2n) {
      background-color: $quater-color-light;
   }

   &__event {
      position:absolute;
      z-index:1;
      background-color: $event-bg-color;
      align-self: flex-end;
      border-radius: 8px;
      height:30%;
      width: 80%;
      left: 10%;
      overflow: visible;
      transition: all 1s ease;
   }
}
